<h1>Welcome page</h1>

<div id="events">
  <div id="eventsCarouselIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#eventsCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#eventsCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#eventsCarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="background-color: red; width: 100%; height: 100px">
          slide 1
        </div>
      </div>
      <div class="carousel-item">
        <div style="background-color: blue; width: 100%; height: 100px">
          slide 2
        </div>
      </div>
      <div class="carousel-item">
        <div style="background-color: green; width: 100%; height: 100px">
          slide 3
        </div>      
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#eventsCarouselIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#eventsCarouselIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div>
  Some content will live here yes
</div>